<form class="text-center">
    <app-errors-list [errors]="errors"></app-errors-list>

    <h4 class="h4 mb-4">Sign Up</h4>

    <input type="text" id="formUsername" class="form-control mb-4" placeholder="Username" [(ngModel)]="username" name="formUsername">
    <input type="email" id="formEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="email" name="formEmail">

    <input type="password" id="formPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="password" name="formPassword">

    <button class="btn btn-lg btn-primary" type="submit" name="login" (click)="submitLoginForm()">Sign in</button>

</form>
